<div class="flex flex-col gap-6 justify-center items-center mt-16">
    <p class="text-secondary-green font-medium">Creating a cleaner helthier future with clients and partners .</p>
    <h2 class="text-5xl font-semibold">ECO-PROTECTION AND & RECYCLING</h2>
</div>
<div class="w-[80%] mx-auto flex items-center justify-center pt-8 gap-3">
    <div class="h-[300px] w-[250px] rounded-md">
        <img src="assets/images/recycle-hero.png" class="w-full h-full rounded-md" alt="">
    </div>
    
</div>